body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: linear-gradient(135deg, #e6bcbc);
    color: #333;
}


h1 {
    text-align: center;
    padding: 25px 0;
    font-size: 28px;
    color: white;
    text-shadow: 0 1px 3px rgba(0,0,0,0.3);
    margin: 0;
}

.bloco {
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    width: 80%;
    max-width: 700px;
    margin: 25px auto;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

h2 {
    margin: 0 0 15px 0;
    color: #db9595;
}

label {
    display: block;
    margin-top: 12px;
    font-weight: bold;
    color: #444;
}

input, select {
    width: 100%;
    padding: 8px 10px;
    margin-top: 6px;
    border-radius: 8px;
    border: 1px solid #bbb;
    background-color: #f7f7f7;
    font-size: 14px;
}

button {
    background-color: #ff8282;
    border: none;
    color: white;
    padding: 10px 18px;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 15px;
    transition: 0.2s;
}

button:hover {
    background-color: #ff4d4d;
}

#areaListaQuartos p,
#areaListaReservas p {
    background-color: #f0f0ff;
    padding: 10px 12px;
    border-radius: 8px;
    border-left: 5px solid #ff7c7c;
    margin-top: 8px;
}